header{
  position: absolute;
  color:black;
  width:100%;
  padding: 20px;
  z-index: 20;


  .logo{
      display: inline-block;
      color: white;
      font-size: 3rem;
      //padding: 20px 10px;
  }


  nav{
    display: inline-block;
    float: right;
    text-align: right;

    a{
      display: inline-block;
      color: black;
      text-decoration: none;
      padding: 0px 10px;
    }

  }
}
